<!DOCTYPE HTML>
<HEAD>
	<title>Taryn's A Piece Of Shit And Needs A Special Program To Be A Human Being</title>
</HEAD>
<BODY>
<h1>Current Time to Wake This Hoe Up: {{time}}</h1>
	<form action="/save" method="get">
  Wake this bitch up at:
  <input type="time" value="{{time}}" name="usr_time">
  <input type="submit"><br>

  <form>
  <input type="checkbox" name="monday" value="Bike"> Monday<br>
  <input type="checkbox" name="vehicle2" value="Car"> Tuesday<br>
  <input type="checkbox" name="vehicle2" value="Car"> Wednesday<br>
  <input type="checkbox" name="vehicle2" value="Car"> Thursday<br>
  <input type="checkbox" name="vehicle2" value="Car"> Friday<br>
  <input type="checkbox" name="vehicle2" value="Car"> Saturday<br>
  <input type="checkbox" name="vehicle2" value="Car"> Sunday<br>
  <input type="checkbox" name="vehicle2" value="Car"> Every God Damned Day<br>

</form>
</form>

<marquee behavior="scroll" direction="left">Butt Stuff City</marquee>
</BODY>
</HTML>